# Server Configuration
PORT=3001
HOST=0.0.0.5

# Database Config (PostgreSQL connection string)
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/solardb?schema=public"

# Cache Configuration
REDIS_URL="redis://localhost:6379"

# Security & Authentication (Change this to a strong random key in production)
JWT_SECRET="solar-erp-super-secret-key-2026"
